@import url('https://fonts.googleapis.com/css?family=Staatliches|Kaushan+Script');
.videowrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}
.fullscreen-bg{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;

}
.headeronimg h1{
    color:white;
    font-family: 'Kaushan Script', cursive;
    margin-top:200px;
    margin-left:300px;

}
.paraonvid h3{
    color:white;
    font-family: 'Kaushan Script', cursive;
    margin-top:50px;
    margin-left:100px;
    font-size:30px;
    text-align: center;
}
.paraonvid p{

    font-size: 20px;
    color:white;
    font-family: 'Kaushan Script', cursive;
    margin-top:50px;
    margin-left:400px;
 
}